nav.drawer.js_drawer
    ul.drawer_list 
        li.drawer_item 
            a(href="/").drawer_link.js_drawer_link TOP
        li.drawer_item 
            a(href="/about/").drawer_link.js_drawer_link ABOUT
            ul.drawer_sublist
                li 
                    a(href="/about/#about").drawer_sublink.js_drawer_link フローフシについて
                li 
                    a(href="/about/#salon").drawer_sublink.js_drawer_link 内装
                li 
                    a(href="/about/#staff").drawer_sublink.js_drawer_link STAFF
                li 
                    a(href="/about/#access").drawer_sublink.js_drawer_link ACCESS
                li 
                    a(href="/about/#faq").drawer_sublink.js_drawer_link FAQ
                li 
                    a(href="/about/#contact").drawer_sublink.js_drawer_link CONTACT
        li.drawer_item 
            a(href="/service").drawer_link.js_drawer_link SERVICE
            ul.drawer_sublist
                li 
                    a(href="/service/#step").drawer_sublink.js_drawer_link 3STEP
                li 
                    a(href="/service/#service").drawer_sublink.js_drawer_link SERVICE
                li 
                    a(href="/service/#course").drawer_sublink.js_drawer_link COURSE
                li 
                    a(href="/service/#price").drawer_sublink.js_drawer_link PRICE
                li 
                    a(href="/service/#reserve").drawer_sublink.js_drawer_link RESERVE
    div.drawer_sns
        a(href="https://instagram.com/fulo_fusi.official", target="_blank"): include ../../html/assets/img/instagram.svg
