footer.footer
    div.footer_inner.flex_pc.justify_between.max-width_1200
        di.footer_left.flex.align_center
            div.footer_logo
                img(src="/assets/img/logo.svg", alt="フローフシロゴ")
            div.footer_detail.flex-auto
                p.footer_company フローフシ ∞  ハイフ専門・
                    br
                    | トータルビューティーサロン
                p.footer_address 東京都港区南青山3-8-13 F・S南青山4階S号室
                p.footer_tel Tel. 
                    a(href="tel:03-6455-5075") 03-6455-5075 
                p.footer_hours 11 : 00 〜 20 : 00 (最終受付 18 : 30 ) 
                p.footer_break 休診日： 不定期
        div.footer_right
            ul.footer_sns.flex.align_center
                li 
                    a(href="https://instagram.com/fulo_fusi.official", target="_blank")
                        img(src="/assets/img/instagram.svg", alt="instagram").mw_100
                li
                    a(href="https://lin.ee/TkTUGmC", target="_blank")
                        img(src="/assets/img/line.svg", alt="line").mw_100
                li
                    a(href="", target="_blank")
                        img(src="/assets/img/twitter.svg", alt="twitter").mw_100
    p.text_center.footer_copyright © フローフシ∞ All Rights Reserved
